.App {
  background: linear-gradient(to right, #2b5876,#4e4376)fixed;
  min-height:1000px;
}

.App-logo {
  height: 40vmin;
}


li{
  list-style: none;
}

/** TOPBAR */

.topbar{
  background-color:rgb(230,138,0);;
  height: 40px;
  color:white;
  font-size:24px;
  font-family: 'Raleway', sans-serif;
}

.cardPokemon{
  display:inline-block;
  width: 180px;
  background: white;
  margin: 20px 20px;
  border-radius: 20px;
  text-align:center;
}

.cardPokemon>h2{
  background-color: rgba(0, 0, 0, 0.078);
  height: 30px;
  padding-top:5px;
  padding-bottom:5px;
}

.form{
  color:white;
  font-family: 'Raleway', sans-serif;
width: 100%;
margin:0 auto;
}

/** LOADER */
.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}